@import url('https://fonts.cdnfonts.com/css/helvetica-neue-lt-pro-55');

/* ==== BASE STYLES ==== */

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-size: large;
  background-image: url(images/Sand-Texture.webp);
  background-repeat: repeat;        
  background-size: auto;            
  background-position: 0 0;
}

.App {
  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

/* ==== BACKGROUND ELEMENTS ==== */

.input-section-with-background {
  position: relative;
  width: 100%;
}

.title-background-container {
  position: absolute;
  /* top: -350px; */
  top: -200%;
  left: 0;
  width: 100vw;
  /* height: calc(100% + 350px + 200px); */
  height: 450%;
  z-index: -1;
  overflow: hidden;
}

.ai-section-with-background {
  position: relative;
  width: 100%;
}

.ai-background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
}

.recipe-green-background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -2;
  overflow: hidden;
}

.title-background-container svg, 
.ai-background-container svg,
.recipe-green-background svg{
  width: 100%;
  height: 100%;
  display: block;
}

/* ===== NAVIGATION ICONS ===== */

.home-icon,
.cookbook-icon {
  font-size: 1.5rem;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #333333;
  z-index: 10;
}

/* ===== BUTTONS ===== */

.btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-primary {
  background-color: #333;
  color:#F5F4F1;
}

.btn-primary:hover {
  background-color: #171717;
}

.btn-secondary {
  background-color: #3EA65B;
  color: #F5F4F1;
}

.btn-secondary:hover {
  background-color: #2e8847;
}

/* ===== HOME PAGE ===== */

.home-container {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  text-align: center;
  padding-bottom: 50px; 
}

.title-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15rem;
  flex-direction: column; 
  text-align: center;
}

.home-title {
  /* font-size: 9rem; */
  font-size: clamp(4.5rem, 10vw, 12rem);
  color: #333333;
  margin: 0; 
  margin-top: 5rem ;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  line-height: 1; 
  position: relative;
  z-index: 1; 
}

h1 span{
  display: block;
}

.home-title::before {
  content: "Lass dir\A gesunde\A Rezepte\A vorschlagen!";
  white-space: pre-line;
  display: block;
 }

.tomato-image {
  position: absolute;
  top: 45%;
  left: 85%; 
  transform: translate(-50%, -50%);
  /* width: 400px;  */
  width: min(80vw, 400px);
  height: auto;
  z-index: 1; 
}

.home-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  /* max-width: 20%; */
  max-width: 300px;
  border-radius: 10px;
  /* margin-left: 73%; */
  margin-left: auto;
  margin-right: 10%;
  position: relative;
  z-index: 2;
}

    /* ingredients input */

.ingredients-input-container {
  margin-bottom: 20px;
  width: 100%;
  max-width: 80%; 
  margin-left: auto;
  margin-right: 10%;
  margin-top: 3rem;
  position: relative;
  z-index: 2; 
}

.ingredients-input {
  width: 100%;
  padding: 10px;
  border: 2px solid #333333;
  border-radius: 10px;
  font-family: Helvetica, sans-serif;  
  text-align: right;
  font-size: 16px;
  font-style: thin;
  resize: vertical;
  min-height: 30px;
  height: 30px;
}

    /* info section */

.info-section {
  width: 100%;
  max-width: 80%;
  margin: 25rem auto 4rem auto;
  text-align: center;
  position: relative;
  z-index: 2; 
}

.ai-section-with-background .info-section {
  margin: 0 auto;
  padding: 6rem 0; 
}

.info-section-title {
  font-size: 3rem;
  color: #333333;
  font-weight: bold;
  margin-bottom: 2rem;
  text-transform: none;
}

.info-section-subtitle {
  font-size: 1.2rem;
  color: #333333;
  margin-top: 3rem;
  margin-bottom: 4rem;
  line-height: 1.6;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.info-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin-top: 5rem;
}

.info-item {
  display: flex;
  align-items: flex-start;
  text-align: left;
  gap: 1.5rem;
}

.info-icon {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-icon svg {
  width: 100%;
  height: 100%;
}

.info-content h3 {
  font-size: 1.3rem;
  color: #333333;
  font-weight: bold;
  margin: 0 0 0.8rem 0;
}

.info-content p {
  font-size: 1rem;
  color: #333333;
  line-height: 1.5;
  margin: 0;
}

.ai-capabilities-section {
  width: 100%;
  max-width: 90%;
  margin: 6rem auto;
  padding: 1rem 3rem;
  border-radius: 20px;
  position: relative;
  z-index: 2; 
}

.ai-capabilities-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  color: #F5F4F1;
}

.ai-capabilities-intro {
  font-size: 1.1rem;
  color: #F5F4F1;
  text-align: center;
  margin-bottom: 6rem;
  line-height: 1.6;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.ai-capabilities-content {
  margin-bottom: 4rem;
  text-align: left;
  background-color: #F5F4F1;
  padding: 2rem;
  border-radius: 20px;
   display: flex; 
  gap: 1.5rem; 
  align-items: flex-start; 

}

.alert-icon {
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-icon svg {
  width: 100%;
  height: 100%;
}

.ai-can-do {
  flex: 1; 
}

.ai-can-do h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 0 1rem 0;
  color: #333333;
}

.ai-can-do p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: #333333;
}

.ai-final-note {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 6rem;
  /* padding-top: 2rem; */
  /* border-top: 1px solid rgba(51, 51, 51, 0.3); */
}

.ai-final-note p {
  font-size: 1.3rem;
  line-height: 1.6;
  margin-bottom: 0.5rem;
  color: #333333;
}


  /* ===== NEW RECIPE PAGE ===== */

.recipe-loading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.recipe-container {
  padding: 2rem;
  max-width: none;
  width: 80%;
  margin: 0 auto;
}

.recipe-title {
  font-size: 5rem;
  margin: 10rem auto 5rem; 
  text-align: center;
  font-weight: bold;
  width: 80%;
}


.ingredients-badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 10px 0;
}

.ingredient-badge {
  background-color: #cceccc;
  color: #3EA65B;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
} 

.recipe-information{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.portion-input{
  border: 2px solid #333333;
  border-radius: 10px;
  text-align: right;
  font-size: 16px;
  font-style: thin;
  width: 20%;
  padding: 10px;
  background-color: transparent;
}

.recipe-content {
  display: flex;
  gap: 2rem;
}

.recipe-content-section {
  flex: 1;
  border: 2px solid #333333;
  border-radius: 10px;
  padding: 1.5rem;
  line-height: 30px;
}

.recipe-content h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.ingredients-list, 
.steps-list {
  padding: 2rem;
}

.ingredients-list li, 
.steps-list li {
  margin-bottom: 0.5rem;
}

.recipe-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.recipe-tip {
  border: 2px solid #333333;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 2rem;
  line-height: 30px;
}

/* .recipe-tip::before {
  content: "💡";
  font-size: 2rem;
  margin: 0.5rem;
} */


/* ===== SAVED RECIPES PAGE ===== */

body.saved-recipes-page{
  background-image:
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="233" height="911" viewBox="0 0 233 911" fill="none"><path d="M0.15381 0C0.15381 0 -4.84517 67 42.1548 93C110.42 130.764 202.154 287.5 149.154 328.5C95.0057 370.388 95.8275 433.834 102.154 502C110.956 596.833 218.666 632.394 149.154 697.5C78.1541 764 156.153 868.9 78.1542 848C0.154808 827.1 0.154804 911 0.154804 911H232.654V0H0.15381Z" fill="%233EA55B"/></svg>'), 
    url('images/Sand-Texture.webp'); 
  background-repeat: repeat-y, repeat;
  background-position: right top, 0 0;
  background-size: 20vw auto, auto;
}

.saved-recipe-title{
  font-size: 7rem;
  color: #333333;
  margin-bottom: 5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: right;
  line-height: 1.1;
}

.saved-recipes-list {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.saved-recipe-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
  margin-bottom: 25px;
  border: #333333 2px solid;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;  
}

.trashcan-icon {
  stroke: #333333;
}

.saved-recipe-item:hover {
  background-color: #333333;
  color: #F5F4F1;
}
.saved-recipe-item:hover 
.trashcan-icon{
  stroke: #F5F4F1;
}

.saved-recipe-item:hover 
.trashcan-icon:hover {
  /* background-color: #ea0f0f; */
  stroke: #ea0f0f;
}

    /* saved recipe detail page */

.back-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: #333333;
  margin-bottom: 1rem;
}

    /* delete confirmation modal */

.delete-confirmation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.delete-confirmation-modal {
  background-color: #F5F4F1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.delete-confirmation-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.cancel-button {
  padding: 8px 16px;
  text-transform: uppercase;
  background-color: #3EA65B;
  color:#F5F4F1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button {
  padding: 8px 16px;
  text-transform: uppercase;
  background-color:#333333;
  color: #F5F4F1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* ===== RESPONSIVE DESIGN  ===== */

/* TABLET (768px - 1024px) */
@media (max-width: 1024px) {
  
  /* Home Page */
  .home-title {
    margin-top: 3rem;
  }
  
  .tomato-image {
    left: 85%;
    width: min(50vw, 250px);
  }

  .title-background-container {
    top: -150%;
    height: 350%;
  }
  
  .ingredients-input-container {
    max-width: 85%;
    margin-right: 10%;
  }
  
  /* Info Section */
  .info-section {
    margin: 15rem auto 4rem auto;
    max-width: 90%;
  }
  
  .info-section-title {
    font-size: 2.5rem;
  }
  
  .info-items {
    gap: 3rem;
  }
  
  /* AI Capabilities */
  .ai-capabilities-title {
    font-size: 2.5rem;
  }
  
  .ai-capabilities-section {
    padding: 1rem 2rem;
  }
  
  /* Recipe Page */
  .recipe-title {
    font-size: 4rem;
    margin: 6rem auto 3rem;
  }
  
  .recipe-container {
    width: 90%;
  }
  
  .portion-input {
    width: 25%;
  }

   .recipe-content {
    flex-direction: column;
    gap: 1rem;
  }
  
  /* Saved Recipes */
  .saved-recipe-title {
    font-size: 5rem;
    margin-bottom: 3rem;
  }
  
  body.saved-recipes-page {
    background-size: 25vw auto, auto;
  }
}

/* MOBILE LANDSCAPE / SMALL TABLET (481px - 768px) */
@media (max-width: 768px) {
  
  body {
    font-size: medium;
  }
  
  /* Navigation */
  .home-icon,
  .cookbook-icon {
    top: 15px;
    right: 15px;
    font-size: 1.3rem;
  }
  
  /* Home Page */
  .home-title {
    margin-top: 2rem;
  }
  
  
  .tomato-image {
    display: none;
  }
  
  .home-buttons {
    max-width: 100%;
    margin: 0 auto;
    width: 80%;
  }
  
  .ingredients-input-container {
    max-width: 90%;
    margin: 0 auto 1rem;
  }
  
  /* Background containers */
  .title-background-container {
    top: -200%;
    height: 400%;
  }
  
  /* Info Section */
  .info-section {
    margin: 10rem auto 2rem auto;
    max-width: 95%;
  }
  
  .info-section-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .info-section-subtitle {
    font-size: 1.1rem;
    margin: 2rem auto 3rem;
  }
  
  .info-items {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 3rem;
  }
  
  .info-icon {
    width: 50px;
    height: 50px;
  }
  
  /* AI Capabilities */
  .ai-capabilities-section {
    padding: 1rem;
    max-width: 95%;
  }
  
  .ai-capabilities-title {
    font-size: 2rem;
  }
  
  .ai-capabilities-intro {
    margin-bottom: 3rem;
  }
  
  .ai-capabilities-content {
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 3rem;
  }
  
  .alert-icon {
    align-self: center;
    margin-bottom: 1rem;
  }
  
  /* Recipe Page */
  .recipe-title {
    font-size: 3rem;
    margin: 8rem auto 2rem;
    width: 95%;
  }
  
  .recipe-container {
    width: 95%;
    padding: 1rem;
  }
  
  .recipe-information {
    flex-direction: column;
    gap: 1rem;
  }
  
  
  .recipe-content {
    flex-direction: column;
    gap: 1rem;
  }
  
  .ingredients-list,
  .steps-list {
    padding: 1rem;
  }
  
  .recipe-buttons {
    flex-direction: column;
    gap: 0.5rem;
  }
  
  /* Saved Recipes */
  .saved-recipe-title {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
  
  .saved-recipe-item {
    padding: 20px;
    margin-bottom: 15px;
  }
  
  body.saved-recipes-page {
    background-size: 40vw auto, auto;
  }
}
